#course-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-start: 2;
    grid-row-start: 2;
}

.course {
    grid-row-start: 2;
    font-size: small;
    font-family: serif;
    list-style:symbols();
}